@import "../abstracts/mixins";
@import "../abstracts/variables";

.btn {
  font-size: 16px;
  line-height: 1;
  padding: 7px 12px;
  @include transition(.3);
  cursor: pointer;
  display: inline-block;
  border: none;
  &-primary {
    background: $lightBlue;
    color: $whiteColor;
    &:hover {
      background: $darkBlue;
    }
  }
  &-secondary {
    
  }
  &-link {
    color: $lightBlue;
    background: none;
    border: none;
    border-bottom: 1px solid $lightBlue;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    @include transition(.3);
    &:hover {
      color: $darkBlue;
      border-color: $darkBlue;
    }
  }
}