@import "../abstracts/mixins";
@import "../abstracts/variables";

.form-control {
  position: relative;
}

.form-select {
  position: relative;
  & select {
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  &:after {
    content: "\e900";
    font-family: 'icomoon';
    color: $lightBlue;
    position: absolute;
    right: 26px;
    top: 50%;
    transform: translate(0, -50%);
  }
}
